<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="props" value="${load_yaml('..//yaml/urdf.yaml')}"/>
    <xacro:property name="l_width" value="0.05"/>
    <xacro:property name="l_height" value="0.04"/>
    <xacro:property name="link3_len" value="0.2"/>  
    <xacro:property name="link3_rad" value="0.04"/>    

 
    <material name="blue">
        <color rgba="0 0 0.8 1"/>
    </material>

    <material name="white"> 
        <color rgba="1 1 1 1"/>
    </material>

 

    <link name="link_1">
        <visual>
            <geometry>
                <box size="${props['i2']['l_len']} ${l_width} ${l_height}"/>
            </geometry>
            <origin xyz="${props['i2']['l_xyz']}" rpy="${props['i2']['l_rpy']}"/>
            <material name="blue"/>
        </visual>
    </link>

    <link name="link_2">
        <visual>
            <geometry>
                <box size="${props['i3']['l_len']} ${l_width} ${l_height}"/>
            </geometry>
            <origin xyz="${props['i3']['l_xyz']}" rpy="${props['i3']['l_rpy']}"/>
            <material name="white"/>
        </visual>
    </link>

    <link name="link_3">
        <visual>
            <geometry>
                <cylinder length="${link3_len}" radius="${link3_rad}"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="blue"/>
        </visual>
    </link>



    <joint name="link1_to_link2" type="fixed">
        <parent link="link_1"/>
        <child link="link_2"/>
        <origin xyz="${props['i2']['j_xyz']}" rpy="${props['i2']['j_rpy']}"/>
        <axis xyz="0 0 1"/>
    </joint>

    <joint name="link2_to_link3" type="fixed">
        <parent link="link_2"/>
        <child link="link_3"/>
        <origin xyz="${props['i3']['j_xyz']}" rpy="${props['i3']['j_rpy']}"/>
        <axis xyz="0 0 1"/>
    </joint>

</robot>
