<launch>
	
    <arg name="model" default="$(find lab2)/urdf/dynamic.urdf.xacro"/>
    <arg name="rvizconfig" default="$(find lab2)/rviz/display.rviz" />
    <arg name="gui" default="false" />

    <param name="use_gui" value="$(arg gui)"/>
    <param name="publish_default_positions" value="true"/>
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    	<rosparam param="source_list">["jint_control"]</rosparam>
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args ="-d $(arg rvizconfig)" required="true"/>
    <node name="oint" pkg="lab5" type="oint.py"/>
    <node name="circle" pkg="lab5" type="ocmd.py"/>
    <node name="ikin" pkg="lab5" type="inverted_kin.py"/>
</launch>
